* {
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    border-radius: 15px;
}

html {
    height: 100%;
    background-image: url(../images/img1.jpg);
    background-color: #352700;
    background-size: cover;
    font-size: clamp(15px, 2vw, 50px);
}

body,
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    row-gap: 2em;
}

header {
    font-size: 1.5em;
    color: #FFFFFF;
}

div {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}

.white-bg {
    background-color: #FFFFFF;
}

.tasks {
    margin: 0.5%;
    padding: 2%;
    font-size: .8em;
    border: 1px solid #555555;
}

.item {
    text-align: left;
    width: 100%;
    flex-grow: 2;
}

.date {
    flex-grow: 1;
    min-width: 10em;
}

.delete {
    background-color: #e6aaaa;
}

.delete:hover {
    background-color: #f94449;
}

.delete:hover span {
    display: none;
}

.delete:hover:before {
    content: "Delete";
}

#task-button {
    background-color: #aae6ca;
}

#task-button:hover {
    background-color: #40bb40;
}

#task-button:active,
button:active {
    border-style: inset;
}

button,
#task-button {
    border: solid 2px black;
    border-style: outset;
    transition-duration: 1s;
}

#task-input {
    margin: auto;
    display: flex;
    width: 80%;
    justify-content: center;
}

#task-text {
    flex-grow: 2;
}