* {
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    border-radius: 15px;
}

html {
    height: 100%;
    background-image: url(../images/img1.jpg);
    background-color: #352700;
    background-size: cover;
    font-size: 18px;
}

body,
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    row-gap: 2em;
}

header {
    font-size: 1.5em;
    color: #FFFFFF;
}

div {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}

.white-bg {
    background-color: #FFFFFF;
}

.item {
    text-align: left;
    width: 100%;
}

.tasks {
    margin: 0.5%;
    padding: 2%;
}

.delete {
    background-color: #e6aaaa;
}

.delete:hover span {
    display: none;
}

.delete:hover:before {
    content: "Delete";
}

#task-button {
    background-color: #aae6ca;
}

button {
    border: solid 1px black;
}